<div class="container center-block">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
	<div class="panel-heading">Registro de Inventario 
	
	</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<label class="col-lg-1">Nombre</label>
					<div class="col-lg-5">
<!-- 						<input type="text" ng-keyup="find($event)" class="form-control" ng-model="product.name" placeholder="Nombre del producto"></input> -->
							<product tags="tags" autocomplete="product"></product>
<!-- 							<ul class="list-unstyled"> -->
<!--                         		<li ng-repeat="tag in tags">{{tag.name}}</li> -->
<!--                       		</ul> -->
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1">Descripcion</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="product.description" placeholder="Descripcion del producto"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1">Medida</label>
					<div class="btn-group col-lg-5">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{unit.name}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="unity in measureUnits" id="{{unity.id}}">
								<a class="button" href="" ng-click="selectUnit();" >{{unity.name}}</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">Cantidad M&iacutenima</label>
					<div class="col-lg-4">
						<input type="text" class="form-control btn btn-default" ng-model="product.stockMin"  placeholder="Cantidad"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">Cantidad m&aacutexima</label>
					<div class="col-lg-4">
						<input type="text" class="form-control"  ng-model="product.stockMax" placeholder="Cantidad"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1">Cantidad</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="product.stock"  placeholder="Cantidad a Registrar"></input>
					</div>
				</div>				
<!-- 				<div class="form-group"> -->
<!-- 					<label class="col-lg-2">Cantidad a Registrar</label> -->
<!-- 					<div class="col-lg-3"> -->
<!-- 						<input type="text" class="form-control"  placeholder="Cantidad"></input> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</form>
		</div>
		<div class="panel-footer">
		  	<div class="btn-group">
			    <button type="button" class="btn btn-default">
			      <span  data-toggle="Guardar el movimientos" class="glyphicon glyphicon-floppy-save">Guardar</span>
			    </button>
		    </div>
    	</div>		
	</div>
</div>