<div>
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
		<div class="panel-heading">{{'typeAddress.title' | translate}}</div>
		<div class="panel-body">
			<div id="d" class="modal fade"></div>
			<table st-table="typeAddressesList" st-safe-src="typeAddressesTO"
				class="table table-striped">
				<thead>
					<tr>
						<th colspan="3"><input st-search="" class="form-control"
							placeholder="{{'typeAddress.form.table.button.search' | translate}}" type="text" /></th>
						<th colspan="3">
							<button type="button" ng-click="add(typeAddress)"
								class="btn btn-sm btn-primary">
								<i class="glyphicon glyphicon-plus">{{'typeAddress.form.table.button.new' | translate}}</i>
							</button>
						</th>	
					</tr>
					<tr>
						<th>{{'typeAddress.form.table.id' | translate}}</th>
						<th>{{'typeAddress.form.table.name' | translate}}</th>
						<th>{{'typeAddress.form.table.description' | translate}}</th>
						<th>{{'typeAddress.form.table.company' | translate}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="typeAddress in typeAddressesList">
						<td>{{typeAddress.id}}</td>
						<td>{{typeAddress.name}}</td>
						<td>{{typeAddress.description}}</td>
						<td>{{typeAddress.company}}</td>
						<td>
							<button type="button" ng-click="edit(typeAddress)"
								class="btn btn-sm btn-success">
								<i class="glyphicon glyphicon-edit"> </i>
							</button>
							<button type="button" ng-click="removeItem(typeAddress)"
								class="btn btn-sm btn-danger">
								<i class="glyphicon glyphicon-remove-circle"> </i>
							</button>							
						</td>

					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5" class="text-center">
							<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="15"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>
</div>