<div class="container center-block">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
	<div class="panel-heading">{{'typeAddress.title' | translate}} 
	
	</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<label class="col-lg-1">{{'typeAddress.form.lbl_name' | translate}}</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="typeAddress.name" placeholder="{{'typeAddress.form.placeholder_name' | translate}}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">{{'typeAddress.form.lbl_description' | translate}}</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="typeAddress.description"  placeholder="{{'typeAddress.form.placeholder_description' | translate}}"></input>
					</div>
				</div>
			</form>
		</div>
<!-- 		<div ng-show="show==true" class="alert alert-warning alert-dismissable"> -->
<!-- 		  <button type="button" class="close" data-dismiss="alert">&times;</button> -->
<!-- 		  <strong>¡Cuidado!</strong> {{typeAddressResponse.message.message}} -->
<!-- 		</div> -->
		<div class="panel-footer">
		  	<div class="btn-group">
			    <button type="button" class="btn btn-default" ng-click="save()">
			      <span  data-toggle="{{'typeAddress.form.placeholder_save' | translate}}" class="glyphicon glyphicon-floppy-save">{{'typeAddress.form.btn_save' | translate}}</span>
			    </button>
		    </div>
    	</div>		
	</div>
</div>