<div class="container center-block">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
	<div class="panel-heading">{{'movementConcept.title' | translate}}
	
	</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<label class="col-lg-1">{{'movementConcept.form.lbl_name' | translate}}</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="movementConcept.name" placeholder="{{'movementConcept.form.placeholder_name' | translate}}"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">{{'movementConcept.form.lbl_description' | translate}}</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="movementConcept.description"  placeholder="{{'movementConcept.form.placeholder_description' | translate}}"></input>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
		  	<div class="btn-group">
			    <button type="button" class="btn btn-default" ng-click="save()">
			      <span  data-toggle="{{'movementConcept.form.placeholder_save' | translate}}" class="glyphicon glyphicon-floppy-save">{{'movementConcept.form.btn_save' | translate}}</span>
			    </button>
		    </div>
    	</div>		
	</div>
</div>