<div class="container center-block">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
	<div class="panel-heading">Tipo de Movimiento 
	
	</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<label class="col-lg-1">Nombre</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="movement.name" placeholder="Nombre Unidad"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">Descripcion</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="movement.description"  placeholder="Descripcion"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-1">Medida</label>
					<div class="btn-group col-lg-5">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{unit.name}}
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="unity in measureUnits" id="{{unity.id}}">
								<a class="button" href="" ng-click="selectUnit();" >{{unity.name}}</a>
							</li>
						</ul>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
		  	<div class="btn-group">
			    <button type="button" class="btn btn-default" ng-click="save()">
			      <span  data-toggle="Guardar el tipo de direcci&oacuten" class="glyphicon glyphicon-floppy-save">Guardar</span>
			    </button>
		    </div>
    	</div>		
	</div>
</div>