<div class="container center-block">
	<button type="button" class="close" aria-hidden="true">&times;</button>
	<div class="panel panel-primary">
	<div class="panel-heading">Registro de status 
	
	</div>
		<div class="panel-body">
			<form class="form">
				<div class="form-group">
					<label class="col-lg-1">Nombre</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" ng-model="movement.name" placeholder="Nombre Unidad"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2">Descripcion</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" ng-model="movement.description"  placeholder="Descripcion"></input>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer">
		  	<div class="btn-group">
			    <button type="button" class="btn btn-default" ng-click="save()">
			      <span  data-toggle="Guardar el tipo de direcci&oacuten" class="glyphicon glyphicon-floppy-save">Guardar</span>
			    </button>
		    </div>
    	</div>		
	</div>
</div>